:root {
    --primary-text-color: #142d4c;
    --login-background:  #c9d7da;
    --bg-primary-color: #9fd3c7;
    --bg-secondary-color: #385170;
  }
  
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
height: 90%;
background:linear-gradient(
    to right,
    var(  --bg-primary-color) 0%,
    var( --bg-primary-color)30%,
    var( --bg-secondary-color) 30%,
    var( --bg-secondary-color) 100%
);

}
  

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background-color: var( --login-background);
    margin-bottom: 40px;
    width: 600px;
    border-radius: 5px;
    margin-left: 200px;
    backdrop-filter: blur(1000px); 
} 

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: var(  --primary-text-color);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 65px;
    height: 6px;
    background-color: var(  --primary-text-color);
    border-radius: 10px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: var( --login-background);
    border-radius: 6px;
    border: 1px solid var(  --primary-text-color);
}

.input img{
    margin: 0 30px;
    height: 50px;
    width: 50px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: var(  --primary-text-color);
    font-size: 19px;
}

.forgot-password{
    padding-left: 65px;
    margin-top: 25px;
    color: var(  --primary-text-color);
    
    font-size: 18px;
}

.forgot-password span{
    font-weight: bold;
    color: var(  --primary-text-color);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: var( --login-background);
    background-color:	var(  --primary-text-color);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
}
