:root {
    --primary-text-color: #f0f4f8;
    --login-background:  #c9d7da;
    --bg-primary-color: #9fd3c7;
    --bg-secondary-color: #385170;
  }

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 600px;
    margin-right: 800px;
    padding: 20px;
    border-radius: 40px;
    backdrop-filter: blur(7.8px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
} 

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: var(  --primary-text-color);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 65px;
    height: 6px;
    background-color: var(  --primary-text-color);
    border-radius: 10px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: var( --login-background);
    border-radius: 6px;
    border: 1px solid var(  --primary-text-color);
}

.input img{
    margin: 0 30px;
    height: 50px;
    width: 50px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #00565b;
    font-size: 19px;
    font-weight: 500;
    font-size: 24px;
}

.forgot-password{
    padding-left: 65px;
    margin-top: 25px;
    color: var(  --primary-text-color);
    
    font-size: 18px;
}

.forgot-password span{
    font-weight: bold;
    color: var(  --primary-text-color);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #104095;
    background-color:	#00FFEC;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
}

.home-button{
    margin-left: 100px;
    margin-top: 1000px;
}

.home-button-img{
    margin-top: 20px;
}
