
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 600px;
    margin-right: 600px;
    padding: 20px;
    border-radius: 40px;
    backdrop-filter: blur(7.8px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(7.8px);
    border: 10px solid var(  --primary-text);
    background-color: var(  --primary-background);
} 

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: var(  --primary-text);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 65px;
    height: 6px;
    background-color: var(  --primary-text);
    border-radius: 10px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: var( --primary-background);
    border-radius: 6px;
    border: 2px solid var(  --primary-text);
}

.input img{
    margin: 0 30px;
    height: 50px;
    width: 50px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: var(  --primary-text);
    font-size: 19px;
    font-weight: 500;
    font-size: 24px;
}

.forgot-password{
    padding-left: 65px;
    margin-top: 25px;
    color: var(  --primary-text);
    
    font-size: 18px;
}

.forgot-password span{
    font-weight: bold;
    color: var(  --primary-text);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color:var(  --primary-background);
    background-color:	var(  --primary-text);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
}

.home-button{
    margin-left: 100px;
    margin-top: 1000px;
}

.home-button-img{
    margin-top: 20px;
}

