
  
  .data-table-timetable {
  height: 70%;
  width: 97%;
  text-align: center;
  margin-top: -1.8%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  }
  
  .data-table-timetable th,
  .data-table-timetable td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  transition: background-color 0.3s, color 0.3s;
  }
  
  .data-table-timetable th {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  }
  
  .data-table-timetable tr {
  background-color: #ffffff;
  border-radius: 4px;
  }
  
  .data-table-timetable td:not(.pagination):not(.slot):hover {
  background-color: 	#fbf6f0;
  color: #333;
  z-index:1;
  transform: scale(1.2);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 4px;
  }

  .slot{
    background-color: #ddd;
    font-weight: 600;
  }
  
  .editClass:hover{
    transform: scale(1.1);
    color: #000000;
  }

  .editClass{
    color: #6a6a6a;
  }

  .deleteClass:hover{
    transform: scale(1.1);
    color: #db5454;
  }

  .deleteClass{
    color: #494343;
  }

  .data-table-timetable td {
  color: #555;
  font-size: 14px;
  }
  
  .data-table-timetable button {
  margin: 0 15px; 
  padding: 8px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 14px;
  width: 80px;
  }
  
  .editBtn{
    background-color: #3376bd;
    outline: none;
    box-shadow: 0 0 0 1px rgba(38, 143, 255, 0.3);
  }
  
  .deleteBtn{
    background-color: #c85858;
    outline: none;
    box-shadow: 0 0 0 1px rgba(255, 67, 38, 0.3);
  }

  
  .pagination {
    margin-top: 10px;
    height: 20%;
    width: 100%;
  }
  
  .pagination button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 90px;
    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination .active {
    background-color: #0056b3;
    font-weight: bold;
  }
  
  .error {
    color: red;
  }