.vertical-navbar {
    width: 15%;
    height: 100%;
    background-color: #333; 
    padding: 15px;
    position:absolute;
    display: flex;
  }
  
  .vertical-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
  }
  
  .vertical-navbar li {
    margin-bottom: 10px;
  }
  
  .vertical-navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .vertical-navbar a:hover {
    background-color: #555;
  }
  
  .nested-nav li{
    list-style-type: none;
    padding: 0 15px; 
  }
  
  .nested-nav li a {
    color: #ddd; 
    text-decoration: none;
  }
  
  .nested-nav li a:hover {
    color: white; 
  }

  .reports-arrow {
    padding-left: 10px;
  }